/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/*HEADER, MAIN AND FOOTER WIDTH AND HEIGHT SIZING*/

header {
    border: 1px solid blue;
    width: 100%;
    height: 120px;
}
.main {
    border: 1px solid red;
    width: 100%;
    height: 1535px;
}
.recherche {
    border: 1px solid green;
    width: 938px;
    height: 260px;
}
.hébergements {
    border: 1px solid blueviolet;
    width: 100%;
    height: 624px;
}
.activités {
    border: 1px solid orangered;
    width: 100%;
    height: 445px;
}
aside {
    border: 1px solid yellow;
    width: 418px;
    height: 624px;
}
footer {
    border: 1px solid turquoise;
    width: 100%;
    height: 218px;
}

/*HEADER SETTINGS*/


header .logo {
    justify-content: flex-start;
}
nav ul {
    width: 400px;
    height: 20px;
    border: 1px solid green;
    display: flex;
    justify-content: space-around;
}
header {
    display: flex;
    justify-content: flex-end;
}
nav {
    margin-left: auto;
}


/*IMG SIZING*/

.hébergements img {
    width: 236px;
    height: 114px;
}
aside img {
    width: 127px;
    height: 134px;
}
.activités img {
    width: 302px;
    height: 386px;
}
.activités .smaller {
    width: 302px;
    height: 193px;
}

/*SIZING BOXES CONTAINING IMG*/

.hébergements a {
    width: 246px;
    height: 199px;
}
.hébergements {
    display: flex;
}
aside a {
    width: 343px;
    height: 144px;
}
.activités figure {
    width: 302px;
    height: 445px;
}
.activités {
    display: flex;
}
