/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/*HEADER SECTION*/
body {
    margin: auto;
}
header {
    border: 1px solid blue;
    max-width: 1340px;
    height: 120px;
    display: flex;
    justify-content: flex-end;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin: auto;
}
header .logo {
    justify-content: flex-start;
    align-self: center;
}
header > a {
    align-self: center;
    font-weight: bold;
    color:rgb(0, 101, 252);
    text-decoration-line: none;
}
nav {
    margin-left: auto;
    align-self: center;
    height: 100%;
    width:30%;
}
nav ul {
    width: 100%;
    height: 100%;
    border: 1px solid green;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav li {
    height: 100%;
    display: flex;
    align-items: center;
}
li > a {
    color: black;
    text-decoration-line: none;
}
header li:hover, header a:hover {
    color: rgb(0, 101, 252);
    border-top: 1px solid rgb(0, 101, 252);
}
header a:hover {
    border-top:none
}

/*MAIN*/

main {
    border: 1px solid red;
    max-width: 1340px;
    height: 1535px;
    font-family: 'Raleway', Arial, sans-serif;
    margin: auto;
}

/*RESEARCH SECTION*/

.research {
    width: 70%;
    border: 1px solid green;
    height: 17%;
}
.research > h1 {
    font-size: 1.2em;
    font-weight: bold;
}
.research > form {
    width: 55%;
    height: 22%;
    border: 1px solid blue;
    display: flex;
    align-items: center;
}
.research label {
    display: flex;
    width: 55.5%;
}
.search-button {/*RESEARCH BUTTON*/
    border-radius: 0px 10px 10px 0px;
    background-color: rgb(0, 101, 252);
    color: white;
    border-style: none;
    width: 26%;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px
}
.icon-position { /*ICON POSITION SEARCH BAR*/
    background-color: rgb(242, 242, 242);
    width: 18%;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
}
#research { /*RESEARCH FIELD*/
    background-color: white;
    width: 82%;
    border-style: 1px solid;
    border-color: rgb(242, 242, 242);
    border-right-style: none;
    border-left-style: none;
    border-top: 1px solid rgb(242, 242, 242);
    padding: 10px;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}
.research > .filters {
    width: 100%;
    height: 43%;
    border: 1px solid red;
    display: flex;
    align-items: center;
}
.research span {
    width: 6%;
    height: 46%;
    border: 1px solid brown;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.research ul { /*FILTERS CLASS*/
    border: 1px solid black;
    width: 94%;
    height: 46%;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}
.research li {
    border: 1px solid rgb(217, 217, 217);
    border-radius: 25px 25px 25px 25px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    padding-right: 25px;
}
.icon-filter {
    background-color: rgb(222, 235, 255);
    color: rgb(0, 101, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px 25px 25px 25px;
    min-width: 50px;
    height: 50px;
    margin-right: 20px;
}
.filters li:hover {
    background-color: rgb(217, 217, 217);
}
.research > p {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 0.9em;
}
.icon-info {
    width: 22px;
    height: 22px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 11px 11px 11px 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: rgb(0, 101, 252)
}

/*SECTION HEBERGEMENTS*/

.host {
    border: 1px solid blue;
    width: 100%;
    height: 41%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}
.host2 {
    width: 66%;
    height: 99.6%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(242, 242, 242);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 4px 4px 0px rgb(233, 233, 233);
}
.host2 > h2 {
    width: 91%;
    height: 4.8%;
    border: 1px solid green;
    font-size: 1.3em;
    font-weight: bold;
}
.host2 > span {
    width: 91%;
    height: 4.8%;
    border: 1px solid green;
    font-size: 1.2em;
    font-weight: bold;
}
.host2 a {
    color: black;
    text-decoration-line: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.host-card-intro {
    border: 1px solid red;
    width: 91%;
    height: 32%;
    display: flex;
    justify-content: space-between;
}
.host-card {
    width: 30.75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 4px 4px 0px rgb(233, 233, 233);
    border: 5px solid white;
    overflow: hidden;
}
.host-card figure {
    width: 100%;
    height: 62.5%;
}
.host-card img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.description-host-card {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.description-host-card span {
    margin-bottom: 5px;
}
.caption {
    font-weight: bold;
}
ul {
    display: flex;
}
.star {
    color: rgb(0, 101, 252);
}
.grey {
    color: rgb(217, 217, 217);
}


/*MOST POPULAR SECTION*/

aside {
    border: 1px solid green;
    width: 31.3%;
    height: 99.6%;
    background-color: rgb(242, 242, 242);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 4px 4px 0px rgb(233, 233, 233);
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
aside > h2 {
    width: 83%;
    height: 4.8%;
    border: 1px solid black;
    display: flex;
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Raleway', Arial, sans-serif;
    align-items: center;
}
aside i {
    margin-left: auto;
    align-items: center;
}
.popular-card {
    border-radius: 20px 20px 20px 20px;
    box-shadow: 4px 4px 0px rgb(233, 233, 233);
    background-color: white;
    border: 5px solid white;
    width: 81.7%;
    height: 23%;
    overflow: hidden;
}
.popular-card a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    color: black;
    text-decoration-line: none;
}
.popular-card figure {
    width: 37%;
    height:100%;
}
.popular-card img {
    width: 100%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}
.popular-caption {
    display: flex;
    flex-wrap: wrap;
}
.popular-caption > :nth-child(2) {
    padding-top: 15px;
}
.descritpion-popular-card {
    display: flex;
    flex-direction: column;
    width: 63%;
    height: 100%;
    border: 1px solid green;
    padding: 10px 10px 10px 20px;
    justify-content: space-between;
}

/*SECTION ACTIVITES*/

.activity {
    width: 100%;
    height: 32.6%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.activity img {
    border-radius: 20px 20px 0px 0px;
}
.activity span {
    display: flex;
    padding-top: 10px;
    margin-left: 20px;
    font-weight: bold;
    font-family: 'Raleway', Arial, sans-serif;
}
.general-activity-bloc {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}
.activity > h2 {
    width: 20%;
    height: 25px;
    border: 1px solid red;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
}
.activity-bloc {
    box-shadow: 4px 4px 0px rgb(233, 233, 233);
}
.activity-bloc img {
    width: 100%;
    height: 390px;
    object-fit: cover;
}
.activity-bloc, .activity-dual1, .activity-dual2 {
    width: 22.6%;
    height: 446px;
    border: 1px solid red;
    border-radius: 20px 20px 20px 20px;
}
.activity-dual1, .activity-dual2 {
    display: flex;
    flex-direction: column;       
    justify-content: space-between;
}

/*ACTIVITY-DUAL1 SETTINGS*/

.activity-dual1 > .dual1-card1 {
    width: 100%;
    height: 236px;
    border: 1px solid blue;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 4px 4px 0px rgb(233, 233, 233);
}
.activity-dual1 > .dual1-card2 {
    width: 100%;
    height: 164px;
    border: 1px solid purple;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 4px 4px 0px rgb(233, 233, 233);
}
.dual1-card1 img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.dual1-card2 img {
    width: 100%;
    height: 110px;
    object-fit: cover;
}

/*ACTIVITY-DUAL2 SETTINGS*/

.activity-dual2 > .dual2-card1 {
    width: 100%;
    height: 195px;
    border: 1px solid blue;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 4px 4px 0px rgb(233, 233, 233);
}
.activity-dual2 > .dual2-card2 {
    width: 100%;
    height: 209px;
    border: 1px solid purple;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 4px 4px 0px rgb(233, 233, 233);
}
.dual2-card1 img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}
.dual2-card2 img {
    width: 100%;
    height: 153px;
    object-fit: cover;
}

/*FOOTER*/

footer {
    width: 1440px;
    height: 218px;
    border:1px solid green;
    margin: auto;
    background-color: rgb(242, 242, 242);
}
.foot-card-container {
    width: 81%;
    height: 82.7%;
    border: 1px solid blue;
    display: flex;
    margin-left: 50px;
    align-items: flex-end;
    justify-content: space-between;
}
.footer-card {
    width: 23.2%;
    height: 78%;
    border: 1px solid red;
}
.footer-card > span {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}
.footer-card > ul {
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 1em;
}
.footer-card li {
    padding-top: 12px;
}


    
/*TABLETS*/

@media screen and (max-width: 768px){

    /*HEADER*/

    header {
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
    }

    header .logo {
        display:flex;
        justify-content:center;
    }
    header > a {
        display:flex;
        flex-direction:column;
        font-size:1.2em;
        padding-bottom:15px;
    }
    nav {
        margin:auto;
        width:100%;
        align-self:unset;
    }
    nav ul {
        display:flex;
        height:25px;
        font-size: 1.3em;
        justify-content:space-around;
    }
    header li:hover {
        border-top: none;
    }
    nav a:hover {
        color: rgb(0, 101, 252);
        text-decoration-line: none;
        border-top: none;
    }

    /*RESEARCH SECTION*/

    .research {
        width:auto;
    }
    .research > :nth-child(2){
        justify-content:center;
    }
    .research .filters {
        width:100%;
        height:300px;
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        align-items:center
    }
    .research ul {
        height:60%;
        width:90%;
        flex-wrap:wrap;
        justify-content:space-between;
        align-items:center;
    }
    .research li {
        width:40%;
        height:30%
    }
    .research span {
        width:20%;
        height:20%;
        display:flex;
        justify-content:center;
        font-size:1.4em;
    }
    .research > h1 {
        font-size:1.1em;
        text-align:center;
    }
    .research > p {
        font-size:0.8em;
        text-align:center;
        display:flex;
        justify-content:flex-start;
    }
    .research form {
        justify-content:center;
        width:auto;
        margin-top:5px;
    }

    /*HOST SECTION & ASIDE*/

    /*ASIDE*/

    aside {
        width:100%;
        height:850px;
        display:flex;
        flex-direction:column;
        justify-content:space-around;
    }
    aside > :nth-child(2){
        align-self:flex-start;
    }
    aside > :nth-child(4){
        align-self:flex-end;
    }
    .descritpion-popular-card {
        height:auto;
    }
    .popular-card img {
        width:100%;
        height:100%;
    }
    .popular-card {
        width:60%;
        height:25%;
    }
    aside > h2 {
        font-size:1.1em;
        width: 100%;
        align-items:center
    }
    aside > h2 > i {
        margin-left:3%;
    }

    /*HOST*/
    
    .host {
        width:100%;
        height:auto;
        flex-direction: column-reverse;
    }
    .host2 {
        width:100%;
        height:900px;
        flex-wrap:wrap;
        flex-direction: row;
    }
    .host-card-intro {
        flex-direction:column;
        width:32%;
        height:91%;
        justify-content:space-around;
    }
    .host-card {
        width:100%;
        height:199px;
    }   
    .host2 > span {
        display:flex;
        align-items:center;
        width:100%;
    }
    .host2 > h2 {
        display:flex;
        justify-content:center;
        align-items:center;
        width:100%;
    }
    .host-card img {
        width:100%;
        height:114px;
    }
            
    /*ACTIVITY SECTION*/

    main {
        height:100%;
        width:100%;
    }
    .acitvity {
        height:1200px;
        width:100%;
    }
    .activity > h2 {
        width:100%;
        height:30px;
        display:flex;
        justify-content:center;
    }
    .general-activity-bloc {
        height:1000px;
        width:100%;
        flex-wrap:wrap;
        flex-direction:column;
        align-items:center; 
        justify-content:space-around;               
    }
    .activity-bloc, .activity-dual1, .activity-dual2 {
        width:35%;
    }
    /*FOOTER*/

    footer {
        width:100%;
        display:flex;
        justify-content:center
    }
    .foot-card-container {
        width:90%;
        height:90%;
        margin-left:unset;
    }
    .footer-card {
        width:30%;
        font-size:0.8em;
        display:flex;
        flex-direction:column;
        align-items:center;
        text-align:center;
    }
}





