/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/*HEADER SECTION*/
body {
    margin: auto;
}
header {
    border: 0px solid blue;
    max-width: 1340px;
    height: 120px;
    display: flex;
    justify-content: flex-end;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin: auto;
}
header .logo {
    justify-content: flex-start;
    align-self: center;
}
header > a {
    align-self: center;
    font-weight: bold;
    color:rgb(0, 101, 252);
    text-decoration-line: none;
}
nav {
    margin-left: auto;
    align-self: center;
    height: 100%;
    width:30%;
}
nav ul {
    width: 100%;
    height: 100%;
    border: 0px solid green;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav li {
    height: 100%;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    border-top: 2px solid transparent;
}
li > a {
    color: black;
    text-decoration-line: none;
}
header li:hover, header a:hover {
    color: rgb(0, 101, 252);
    border-top: 2px solid rgb(0, 101, 252);
}
header a:hover {
    border-top:none;
}

/*MAIN*/

main {
    border: 0px solid red;
    max-width: 1340px;
    height: 1535px;
    font-family: 'Raleway', Arial, sans-serif;
    margin: auto;
}

/*RESEARCH SECTION*/

.research {
    width: 70%;
    border: 0px solid green;
    height: 17%;
}
.research > h1 {
    font-size: 1.2em;
    font-weight: bold;
}
.research > form {
    width: 55%;
    height: 22%;
    border: 0px solid blue;
    display: flex;
    align-items: center;
}
.search-bar {
    display: flex;
    width: 100%;
}
.research label {
    display: flex;
    width: 55.5%;
}
.search-button {/*RESEARCH BUTTON*/
    border-radius: 0px 10px 10px 0px;
    background-color: rgb(0, 101, 252);
    color: white;
    border-style: none;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px;
}
.search-button-desktop {
    width:auto;
    height:auto;
}
.icon-position { /*ICON POSITION SEARCH BAR*/
    background-color: rgb(242, 242, 242);
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
}
#research { /*RESEARCH FIELD*/
    background-color: white;
    width: 82%;
    border: 2px solid rgb(242, 242, 242);
    border-color: rgb(242, 242, 242);
    border-right-style: none;
    border-left-style: none;
    padding: 10px;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}
.research > .filters {
    width: 100%;
    height: 43%;
    border: 0px solid red;
    display: flex;
    align-items: center;
}
.research span {
    width: 6%;
    height: 46%;
    border: 0px solid brown;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.research .search-icon {
    display: none;
}

.research ul { /*FILTERS CLASS*/
    border: 0px solid black;
    width: 94%;
    height: 46%;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}
.research li {
    border: 2px solid rgb(217, 217, 217);
    border-radius: 25px 25px 25px 25px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    padding-right: 25px;
    height:50px;
}
.icon-filter {
    background-color: rgb(222, 235, 255);
    color: rgb(0, 101, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px 25px 25px 25px;
    min-width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-left: -2px;
}
.filters li:hover {
    background-color: rgb(217, 217, 217);
}
.research > p {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 0.9em;
    align-items: center;
}
.icon-info {
    min-width: 22px;
    height: 22px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 11px 11px 11px 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: rgb(0, 101, 252);
}

/*SECTION HEBERGEMENTS*/

.host {
    border: 0px solid blue;
    width: 100%;
    height: 41%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-top: 40px;
}
.host2 {
    width: 66%;
    height: 99.6%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(242, 242, 242);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 4px 4px 0px rgb(233, 233, 233);
}
.host2 > h2 {
    width: 91%;
    height: 4.8%;
    border: 0px solid green;
    font-size: 1.3em;
    font-weight: bold;
}
.host2 > span {
    width: 91%;
    height: 4.8%;
    border: 0px solid green;
    font-size: 1.2em;
    font-weight: bold;
}
.host2 a {
    color: black;
    text-decoration-line: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.host-card-intro {
    border: 0px solid red;
    width: 91%;
    height: 32%;
    display: flex;
    justify-content: space-between;
}
.host-card {
    width: 30.75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 4px 4px 0px rgb(233, 233, 233);
    border: 5px solid white;
    overflow: hidden;
    font-size: 0.9em;
}
.host-card figure {
    width: 100%;
    height: 62.5%;
}
.host-card img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.description-host-card {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.description-host-card span {
    margin-bottom: 5px;
}
.caption {
    font-weight: bold;
}
ul {
    display: flex;
}
.star {
    color: rgb(0, 101, 252);
}
.grey {
    color: rgb(217, 217, 217);
}


/*MOST POPULAR SECTION*/

aside {
    border: 0px solid green;
    width: 31.3%;
    height: 99.6%;
    background-color: rgb(242, 242, 242);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 4px 4px 0px rgb(233, 233, 233);
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Raleway', Arial, sans-serif;
}
aside > h2 {
    width: 83%;
    height: 4.8%;
    border: 0px solid black;
    display: flex;
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Raleway', Arial, sans-serif;
    align-items: center;
}
aside i {
    margin-left: auto;
    align-items: center;
}
.popular-card {
    border-radius: 20px 20px 20px 20px;
    box-shadow: 4px 4px 0px rgb(233, 233, 233);
    background-color: white;
    border: 5px solid white;
    width: 81.7%;
    height: 23%;
    overflow: hidden;
    font-size: 0.9em;
}
.popular-card a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    color: black;
    text-decoration-line: none;
}
.popular-card figure {
    width: 37%;
    height:100%;
}
.popular-card img {
    width: 100%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}
.popular-caption {
    display: flex;
    flex-wrap: wrap;
}
.popular-caption > :nth-child(2) {
    padding-top: 15px;
}
.descritpion-popular-card {
    display: flex;
    flex-direction: column;
    width: 63%;
    height: 100%;
    border: 0px solid green;
    padding: 10px 10px 10px 20px;
    justify-content: space-between;
}

/*SECTION ACTIVITES*/

.activity {
    width: 100%;
    height: 32.6%;
    border: 0px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.activity img {
    border-radius: 20px 20px 0px 0px;
}
.activity span {
    display: flex;
    padding-top: 10px;
    margin-left: 20px;
    font-weight: bold;
    font-family: 'Raleway', Arial, sans-serif;
}
.general-activity-bloc {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}
.activity > h2 {
    width: 20%;
    height: 25px;
    border: 0px solid red;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
}
.activity-bloc {
    box-shadow: 2px 2px 0px rgb(233, 233, 233);
}
.activity-bloc img {
    width: 100%;
    height: 390px;
    object-fit: cover;
}
.activity-bloc, .activity-dual1, .activity-dual2 {
    width: 22.6%;
    height: 446px;
    border: 0px solid red;
    border-radius: 20px 20px 20px 20px;
}
.activity-dual1, .activity-dual2 {
    display: flex;
    flex-direction: column;       
    justify-content: space-between;
}

/*ACTIVITY-DUAL1 SETTINGS*/

.activity-dual1 > .dual1-card1 {
    width: 100%;
    height: 236px;
    border: 0px solid blue;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 0px rgb(233, 233, 233);
}
.activity-dual1 > .dual1-card2 {
    width: 100%;
    height: 164px;
    border: 0px solid purple;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 0px rgb(233, 233, 233);
}
.dual1-card1 img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.dual1-card2 img {
    width: 100%;
    height: 110px;
    object-fit: cover;
}

/*ACTIVITY-DUAL2 SETTINGS*/

.activity-dual2 > .dual2-card1 {
    width: 100%;
    height: 195px;
    border: 0px solid blue;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 0px rgb(233, 233, 233);
}
.activity-dual2 > .dual2-card2 {
    width: 100%;
    height: 209px;
    border: 0px solid purple;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 0px rgb(233, 233, 233);
}
.dual2-card1 img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}
.dual2-card2 img {
    width: 100%;
    height: 153px;
    object-fit: cover;
}

/*FOOTER*/

footer {
    width: 100%;
    height: 218px;
    border:0px solid green;
    margin: auto;
    background-color: rgb(242, 242, 242);
}
.foot-card-container {
    width: 81%;
    height: 82.7%;
    border: 0px solid blue;
    display: flex;
    margin-left: 50px;
    align-items: flex-end;
    justify-content: space-between;
}
.footer-card {
    width: 23.2%;
    height: 78%;
    border: 0px solid red;
}
.footer-card > span {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}
.footer-card > ul {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 1em;
}
.footer-card li {
    padding-top: 12px;
}


    
/*TABLETS*/

@media screen and (max-width: 768px){

    /*RESEARCH SECTION*/

    .research {
        width:100%;
        height:100%;
        align-items:flex-start;
    }
    .research .filters {
        width:100%;
        height:300px;
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        justify-content:space-evenly;
    }
    .research ul {
        height:60%;
        width:75%;
        flex-direction:column;
        flex-wrap:wrap;    
    }
    .research li {
        width:45%;
        height:50px;
    }
    .research span {
        width:20%;
        height:20%;
        display:flex;
        font-size:1.4em;
    }
    .research > h1 {
        font-size:1.4em;
    }
    .research > p {
        font-size:1.2em;
        text-align:center;
        display:flex;
        justify-content:flex-start;
    }
    .research form {
        width:auto;
        margin-top:5px;
        height:60px;
    }
    .search-bar {
        width: 100%;
        height: 100%;
    }
    .research .search-button-desktop {
        display:none;
    }
    .research .search-icon {
        display:block;
        width: 90%;
        height:auto;
        font-size: 1em;
    }
    .search-button {
        width:9%;
        height:100%;
    }
    .research label {
        height:100%;
        width:62%;
    }
    .icon-position {
        align-items:center;
    }

    /*HOST SECTION & ASIDE*/

    /*ASIDE*/

    aside {
        width:100%;
        height:400px;
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        align-items:center;
        border-radius:unset
    }
    aside > .popular-card:nth-child(4){
        margin-right:48%;
    }
    .descritpion-popular-card {
        height:auto;
        font-size: 1.2em;
    }
    .popular-card img {
        width:100%;
        height:100%;
    }
    .popular-card {
        width:45%;
        height:40%;
    }
    aside > h2 {
        font-size:1.4em;
        width:100%;
        height:auto;
        justify-content:center; 
    }
    aside > h2 > i {
        margin-left:5%;
    }

    /*HOST*/
    
    .host {
        width:100%;
        height:auto;
        flex-direction: column-reverse;
        margin-top:20px;
    }
    .host2 {
        width:100%;
        height:900px;
        flex-wrap:wrap;
        flex-direction:row;
        border-radius:unset;
        background-color:white;
    }
    .host-card-intro {
        flex-direction:column;
        width:32%;
        height:auto;
    }
    .host-card {
        width:100%;
        height:199px;
        margin-bottom:30px;
    }   
    .host2 > span {
        display:flex;
        align-items:center;
        padding-left:30px;
        width:100%;
    }
    .host2 > h2 {
        display:flex;
        justify-content:center;
        align-items:center;
        width:100%;
        height:auto;
        font-size:1.4em;
        margin-top:20px
    }
    .host-card img {
        width:100%;
        height:114px;
    }
            
    /*ACTIVITY SECTION*/

    main {
        height:100%;
        width:100%;
    }
    .acitvity {
        height:1200px;
        width:100%;
    }
    .activity > h2 {
        width:100%;
        height:30px;
        display:flex;
        justify-content:center;
    }
    .general-activity-bloc {
        height:1000px;
        width:100%;
        flex-wrap:wrap;
        flex-direction:column;
        align-items:center; 
        justify-content:space-around;               
    }
    .activity-bloc, .activity-dual1, .activity-dual2 {
        width:35%;
    }
    /*FOOTER*/

    footer {
        width:100%;
        display:flex;
        justify-content:center;
    }
    .foot-card-container {
        width:90%;
        height:90%;
        margin-left:unset;
    }
    .footer-card {
        width:30%;
        font-size:0.8em;
        display:flex;
        flex-direction:column;
    }
}
    /*IPHONE8-LIKE SCREEN*/

@media screen and (max-width: 425px){

        /*HEADER*/

    header {
        display:flex;
        flex-wrap:wrap;
        margin-bottom:20px;
    }
    .logo {
        margin-left:20px;
    }
    header > a {
        margin-left:auto;
        margin-right:20px;
        font-size:1.1em;
    }
    nav {
        margin:unset;
        width:100%;
        height:50px;
        order:1;
        font-size:1em;
        display:flex;
        align-items:flex-start;
    }
    nav ul {
        width:100%;
        height:100%
    }
    nav li {
        height:100%;
        width:100%;
    }
    nav li:nth-child(1){
        border-bottom: 3px solid rgb(0,101,252);   
    }
    nav li:nth-child(1) > a {
        color:rgb(0,101,252);
    }

        /*RESEARCH SECTION*/

    .research > h1 {
        font-size: 1.4em;
        text-align:start;
        padding-left:20px;
        padding-right:20px;
        padding-top:20px;
    }
    .research > p:nth-child(2) {
        justify-content:start;
        padding-left:20px;
        margin-bottom:30px;
        font-size:1em;
    }
    .search-bar {
        height:100%;
        border: -1px solid rgb(242, 242, 242);
    }
    .research > form {
        width:auto;
        align-items:unset;
        height:50px;
    }
    .research label {
        width:100%;
        justify-content:flex-end;
        padding-left:20px;    
    }
    #research {
        padding-left:20px;        
    }
    .research span {
        width:auto;
        height:auto;
        margin:unset;
    }
    .search-button {
        background-color:rgb(0,101,252);
        display:flex;
        align-items:center;
        justify-content:center;
        width:15%;
        height:auto;
        border-radius:30% 30% 30%;
        border:none;
        margin-right:20px;
        font-size: 1em;
        margin-left:-7px;
    }
    .icon-position {
        width:18%;
        height:auto;
        align-items:center;
    }
    .research > .filters {
        align-items:flex-start;
        padding:20px;
        justify-content:flex-start;
        height:auto;
        width:100%;        
    }
    .filters > ul {
        width:100%;
        height:180px;
        align-items:flex-start;
        flex-wrap:wrap;
        flex-direction:row;
    }
    .filters > span {
        font-size:1.3em;
        margin-bottom:20px;
    }
    .research li {
        height:50px;
        width:auto;
        border: 2px solid rgb(217, 217, 217);
    }
    .icon-filter {
        margin-right:5px;
        margin-left:-2px;
    }
    .icon-info {
        margin-left:15px;
        font-size:0.7em;
        align-self:start;
    }   
    .research > p {
        font-size:1.1em;
        text-align:start;
        padding-right:20px;
    }
    .research .search-icon {
        height:auto;    
    }

    /*HOST & MOST POPULAR SECTION*/

    aside {
        margin-top:20px;
        height:600px;
        width:100%;
        padding:0px 20px;
        flex-direction:column;
        box-shadow:unset;
        justify-content:flex-start;
    }
    aside > h2 {
        width:100%;
        font-size:1.4em;
        margin-top:40px;
        margin-bottom:20px;
    }
    aside > h2 > i {
        margin-left:auto;
    }
    aside > .popular-card:nth-child(4){
        margin-right:unset;
    }
    .popular-card {
        height:144px;
        width:auto;
        margin-bottom:15px;
    }
    .descritpion-popular-card {
        font-size:1.1em;
    }
    /*HOST SECTION*/
    
    .host2 {
        flex-direction:column;
        padding-left:20px;
        padding-right:20px;
        justify-content:flex-start;
        height:auto;
        box-shadow:unset;
    }
    .host2 > h2 {
        width:100%;
        height:auto;
        justify-content:start;
        margin-top:40px;
        margin-bottom:20px;
        font-size:1.4em;
    }
    .host2 > span {
        font-size:1.1em;
        margin-top:20px;
        padding-left: unset;
    }
    .host-card-intro {
        width:100%;
        height:auto;
    }
    .host-card {
        margin-bottom:20px;
    }

    /*ACITVITY SECTION*/

    .activity > h2 {
        width:auto;
        height:auto;
        justify-content:start;
        margin-left:20px;
        margin-bottom:20px;
        margin-right:20px;
        font-size:1.4em;     
    }
    .activity img {
        height:134px;
    }           
    .general-activity-bloc {
        flex-wrap:nowrap;
        width:100%;
        height:auto;
        padding-left:20px;
        padding-right:20px;
        justify-content:flex-start;
    }
    .activity-bloc {
        width:100%;
        height:190px;
        margin-bottom:20px;
    }
    .activity-dual1, .activity-dual2 {
        width:100%;
        justify-content:normal;
        height:auto;
    }
    .activity-dual1 > .dual1-card1 {
        height:190px;
        margin-bottom:20px;
    }
    .activity-dual1 > .dual1-card2 {
        height:190px;
        margin-bottom:20px;
    }
    .activity-dual2 > .dual2-card1 { 
        height:190px;
        margin-bottom:20px;
    }
    .activity-dual2 > .dual2-card2 {
        height:190px;
        margin-bottom:20px;
    }
    .activity-dual2 {
        margin-bottom:20px;
    }

    /*FOOTER*/

    footer {
        width:100%;
        height:486px;
        font-size: 1.2em;
    }
    .foot-card-container {
        flex-direction:column;
        align-items:flex-start;
        margin-top:40px;
        width:100%;
        height:85%
    }
    .footer-card {
        width:75%;
        height:30%;
        align-items:flex-start;
        text-align:start;
        margin-bottom:40px;
        margin-left:20px;
    }
    .footer-card > ul {
        padding-top:5px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 769px){

    /*RESEARCH SECTION*/

    .filters > ul {
        height:75%;
        width:80%;
        flex-wrap:wrap;
        flex-direction: column;
        
    }
    .filters li {
        width:40%;
        font-size:1em;
    }
    .filters > span {
        width:35%;
        height:60px;
        justify-content:flex-start;
        font-size:1.3em;
    }
    .research {
        width:90%;
        height:auto;
        display:flex;
        flex-direction:column;
        align-items:flex-start;
    }
    .research .filters {
        flex-direction:column;
        height:250px;
        margin-top:20px;
        align-items: flex-start;
    }
    form > .search-bar {
        justify-content:flex-start;
    }
    .research > p:nth-child(5) {
        margin-right:auto;       
    }
    main {
        width:100%;
        height:auto;
    }

    /*HOST SECTION*/

    .host {
        flex-wrap:nowrap;
        flex-direction:column-reverse;
        width:100%;
        height:auto;
        align-items:center;
    }
    aside > h2 {
        width:70%;
        font-size: 1.5em;  
    }
    aside {
        align-self:unset;
        width:90%;
        height:700px;
    }
    .popular-card {
        width:70%;
        height:180px;
        font-size:1.2em;
    }
    .popular-card:nth-child(3) > a {
        display:flex;
        flex-direction:row-reverse;
    }
    .popular-card:nth-child(3) img {
        border-radius:0px 20px 20px 0px;
    }
    .host2 {
        width:90%;
        height:900px;
        flex-direction:row;
        flex-wrap:wrap;
    }
    .host-card-intro {
        flex-direction:column;
        width:35%;
        height:91%;
        justify-content:space-around;
    }
    .host-card {
        width:100%;
        height:199px;
    }
    .host-card img {
        width:100%;
        height:114px;
    }
    .host2 > h2 {
        width:100%;
        text-align:center;
        height:auto;
        margin-top:30px;
        font-size:1.5em;
    }
    .host2 > span {
        width:100%;
        height:auto;
        font-size:1.1em;
        margin-bottom:30px;
        padding-left: 20px;
    }

    /*ACTIVITY SECTION*/
    
    .activity {
        align-items:center;
    }
    .activity > h2 {
        width:100%;
        height:auto;
        font-size:1.5em;
        text-align:center;
    }
    .general-activity-bloc {
        width:90%;
        height:1000px;
        flex-direction:column;
        flex-wrap:wrap;
        align-items:center;
        justify-content:space-around;
    }
    .activity-bloc {
        width:30%;
    }
    .activity-dual1, .activity-dual2 {
        width:30%;
    }

    /*FOOTER*/

    footer {
        width:100%;
        height:218px;
        align-items:center;
        display:flex;
        justify-content:center
    }
    .foot-card-container {
        width:90%;
        margin-left:unset;
        align-items:center;
    }
    .footer-card {
        width:30%;
        font-size:0.9em;
    }
}

@media screen and (min-width: 426px) and (max-width: 600px) {

    header {
        display:flex;
        flex-wrap:wrap;
        margin-bottom:20px;
    }
    .logo {
        margin-left:20px;
    }
    header > a {
        margin-left:auto;
        margin-right:20px;
        font-size:1.2em;
    }
    nav {
        margin:unset;
        width:100%;
        height:50px;
        order:1;
        font-size:1.1em;
        display:flex;
        align-items:flex-start;
    }
    nav ul {
        width:100%;
        height:100%
    }
    nav li {
        height:100%;
        width:100%;
    }
    nav li:nth-child(1){
        border-bottom: 2px solid rgb(0,101,252);   
    }
    nav li:nth-child(1) > a {
        color:rgb(0,101,252);
    }
    .search-button {
        width:12%;
    }
    .research label {
        width:60%;
    }
    .popular-card {
        font-size:0.8em;
        height:25%;
        width:70%
    }
    aside {
        width:100%;
        height:600px;
        flex-direction:column;
    }
    aside > .popular-card:nth-child(4){
        margin-right:unset;
    }
    .host-card-intro {
        width:45%;
    }
    .activity-bloc, .activity-dual1, .activity-dual2 {
        width:40%;
        font-size:0.9em;
    }
    footer{
        height:500px;
        align-items:flex-end;
        font-size: 1.1em;
    }
    .footer-card {
        text-align:start;
        align-items:flex-start;
        width:50%;
    }
    .foot-card-container {
        flex-direction:column;
        align-items:flex-start;        
    }
}


@media screen and (min-width: 426px) and (max-width: 525px) {

    /*FILTERS SECTION*/

    .filters > ul {
        flex-direction:column;
        flex-wrap:nowrap;
        height:80%;
        justify-content:space-evenly;
    }
    .filters li {
        width:65%;
    }
    .research p {
        font-size:1em;
    }
    .descritpion-popular-card {
        font-size:1.1em;
    }
}